.bg-orange {
    background-color: orange;
}

.logo{
    width: 100px;
    
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.bg-black {
    background-color: black;

}


.color-text{
    color: white;

    
}
.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.flex-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
img {
    width: 33%;
}
