*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.bg-orange {
    background-color: orange;
}

.logo{
    width: 100px;
    
}

.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 800px;
    margin: 0 auto;
}
.flex-body{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
img {
    width: 32%;
}

.bg-black {
    background-color: black;
     color: white;
}

.flex-footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
